<div class="right-login">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
	<div class="field wrap-inputDevise">
		<%= f.text_field :login, autofocus: true, autocomplete: "nickname or email", placeholder: "nickname or email", class:"inputDevise" %>
	</div>
	<div class="field wrap-inputDevise">
		<%= f.password_field :password, autocomplete: "current-password",placeholder: "password", class:"inputDevise" %>
	</div>
	<% if devise_mapping.rememberable? %>
		<%= f.check_box :remember_me %>
		Remember me
	<% end %>
	<div class="actions container-login-btn">
		<%= f.submit "Login", class:"login-btn" %>
	</div>
	<%= render "devise/shared/links" %>
<%end%>
<div class="login-background" style="background-image: url(/assets/missing.png);"></div>
</div>
